@model IEnumerable<ForumDAW.Models.Review>

@{
    ViewBag.Title = "Index";
    ForumDAW.Models.ApplicationDbContext db = new ForumDAW.Models.ApplicationDbContext();
}
<br/>
<br/>
<br/>
<h2>Lista review-uri</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            Componenta
        </th>
        <th>
            Descriere
        </th>
        <th>
           Data publicarii
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => db.Components.Find(item.ComponentId).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>



